
@{
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

<div>
    <form asp-controller="Chat" asp-action="Index">
        <input type="text" placeholder="Search User"/>
    </form>
    <div id="user-section">
        <p></p>
    </div>
</div>