@{
    ViewData["Title"] = "Đổi mật khẩu lần đầu";
}

<h2>Đổi mật khẩu bắt buộc</h2>

<form method="post" asp-action="ForceChangePassword">
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" name="newPassword" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Đổi mật khẩu</button>
</form>ư