.card {
    border-radius: 20px;
}

.nav-tabs .nav-link {
    border: none;
    font-weight: 600;
    color: #6c757d;
}

.nav-tabs .nav-link.active {
    color: #007bff;
    border-bottom: 3px solid #007bff;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}