:root {
    --tab-active-color: #FD964BED;
    --tab-border-active-color: #FD964BED;
    --tab-inactive-color: #cf8c64;
    --tab-inactive-opacity: 0.7;
}

/* Tab styles */
.nav-tabs .nav-link {
    border: none;
    font-weight: 600;
    color: var(--tab-inactive-color) !important;
    opacity: var(--tab-inactive-opacity);
    transition: all 0.3s ease;
}

.nav-tabs .nav-link.active {
    color: var(--tab-active-color) !important;
    opacity: 1;
    border-bottom: 3px solid var(--tab-border-active-color) !important;
}

.nav-tabs .nav-link:hover:not(.active) {
    color: var(--tab-active-color) !important;
    opacity: 0.9;
}

/* Xóa style color inline trong thẻ p */
.nav-tabs .nav-link p {
    margin-bottom: 0;
    color: inherit;
}

.text-primary {
    color: var(--tab-inactive-color) !important;
    border-color: var(--tab-inactive-color) !important;
    border: 1px solid var(--tab-inactive-color) !important;
    border-radius: 5px;
}

.material-symbols-outlined {
    text-decoration: none !important;
}

:root {
    --tab-active-color: #FD964BED;
    --tab-border-active-color: #FD964BED;
    --tab-inactive-color: #cf8c64;
    --tab-inactive-opacity: 0.7;
}

/* Tab styles */
.nav-tabs .nav-link {
    border: none;
    font-weight: 600;
    color: var(--tab-inactive-color) !important;
    opacity: var(--tab-inactive-opacity);
    transition: all 0.3s ease;
}

.nav-tabs .nav-link.active {
    color: var(--tab-active-color) !important;
    opacity: 1;
    border-bottom: 3px solid var(--tab-border-active-color) !important;
}

.nav-tabs .nav-link:hover:not(.active) {
    color: var(--tab-active-color) !important;
    opacity: 0.9;
}

/* Xóa style color inline trong thẻ p */
.nav-tabs .nav-link p {
    margin-bottom: 0;
    color: inherit;
}

.text-primary {
    color: var(--tab-inactive-color) !important;
    border-color: var(--tab-inactive-color) !important;
    border: 1px solid var(--tab-inactive-color) !important;
    border-radius: 5px;
}

.material-symbols-outlined {
    text-decoration: none !important;
}
