.main-navbar {
    
}

.main-navbar .nav-link:hover {
    text-decoration: underline;
    opacity: 0.9;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 191, 160, 0.47);
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    flex: 1;
}
